{% extends "index.html" %}
{% block title %}Adding new user{% endblock title %}
{% block head -%}
    {{ super() }}
{%- endblock head %}
{% block content -%}
    <div class="container">
        <div class="container-fluid">
            <form action="/admin/add" method="post" class="form">
                <div class="controls controls-row">
                        <input name="surname" type="text" class="span2" />
                        <input name="name" type="text" class="span2" />
                        <input name="bydad" type="text" class="span2" />
                </div>
                <div class="controls controls-row">
                        <input name="vk_link" type="text" class="span4" placeholder="http://vk.com/id100500" />
                        <input type="submit" class="btn btn-primary span2" />
                </div>
            </form>
        </div>
    </div>
    {{ super() }}
{%- endblock content %}
