{% extends "users_list.html" %}
{% block title %}Adding new user{% endblock title %}
{% block head -%}
    {{ super() }}
{%- endblock head %}
{% block content -%}
            <div class="container pagination-centered">
                <div class="container-fluid">
                    <form id="main_form" action="/api/add" method="post" class="form form-inline pull-right">
                        <div class="controls row-fluid">
                                <input type="text" class="input-small span2" name="name" placeholder="Name" />
                                <input type="text" class="input-small" name="bydad" placeholder="Middle name" />
                                <input type="text" class="input-small span2" name="surname" placeholder="Surname" />
                                <!--input type="text" class="input-medium" name="vk_link" placeholder="http://vk.com/id100500" /-->
                                <input type="text" class="input-medium" name="vk_link" placeholder="an id of VK user here" />
                                <input type="submit" class="btn btn-primary" value="Add" />
                        </div>
                    </form>
                </div>
            </div>
            {{ super() }}
{%- endblock content %}
