<div class="offset2 span8">
    {% if post.title %}
    <div class="row">
      <div class="span8">
          <h4><strong><a href="{{ post.link or '#' }}" target="_blank">{{ post.title }}</a></strong></h4>
      </div>
    </div>
    {% endif %}
    <p>{{ post.content }}</p>
    {% if post.link %}
    <div>
        <a href="{{ post.link }}" target="_blank"><i class="icon-share"></i> Додаткова інформація</a>
    </div> 
    {% endif %}
    <div>
        <span class="badge badge-success"><i class="icon-calendar icon-white"></i> <time pubdate datetime="{{ post.created.strftime('%Y-%m-%dT%H:%M:%S +02:00') }}">{{ post.created.strftime('%Y-%m-%d %H:%M:%S') }}</time></span>
        <div class="pull-right"><!--i class="icon-tags"></i--> <a href="#"><span class="label">позначити прочитаним</span></a> <!--span class="label">alice</span> <span class="label">story</span> <span class="label">blog</span> <span class="label">personal</span--></div>
    </div> 
    <hr>
</div>
