<div class="offset2 span8">
    <div class="row">
      <div class="span8">
        <h4><strong><a href="#">Alice in Wonderland, part dos</a></strong></h4>
      </div>
    </div>
    <p>'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words:
    'Yes, we went to school in the sea, though you mayn't believe it—'
    'I never said I didn't!' interrupted Alice.
    'You did,' said the Mock Turtle.</p>
    <div>
        <span class="badge badge-success"><i class="icon-calendar icon-white"></i> 2012-08-02 20:47:04</span><div class="pull-right"><i class="icon-tags"></i> <span class="label">alice</span> <span class="label">story</span> <span class="label">blog</span> <span class="label">personal</span></div>
    </div> 
    <hr>
</div>